.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  text-align: center;
  background-color: #4a943d4f;
  border-radius: 28px;
  height: 660px;
  overflow: hidden;
  position: absolute;
  width: 400px;
}
.text-wrapper{
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 30px;
}
.inputGroup{
  width: 280px;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  margin-bottom: 20px;
}
.input3{
  width: 280px;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  margin-bottom: 20px;
}
.button-sign-up{
  width: 280px;
  padding: 18px;
  border-radius: 8px;
  border: 1px solid #8a8a8a;
  cursor: pointer;
  font-size: 15px;
}